__pycache__/
*.py[cod]
DEADINSIDE/DEADINSIDE/__pycache__/urls.cpython-312.pyc
/DEADINSIDE/DEADINSIDE/__pycache__
/DEADINSIDE/DEADINSIDE/__pycache__
/DEADINSIDE/DEADINSIDE/__pycache__
/DEADINSIDE/DEADINSIDE/__pycache__
/DEADINSIDE/DEADINSIDE/__pycache__
/DEADINSIDE/Website/__pycache__
/DEADINSIDE/Website/__pycache__
/DEADINSIDE/DEADINSIDE/__pycache__
/DEADINSIDE/Website/__pycache__
/DEADINSIDE/Website/__pycache__
